<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app"></div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                list: ['hello', 'world']
            }
        },
        template: `
            <ul v-for="show">
                <li v-for="(item, index) of list">{{item}} - {{index}}</li>
            </ul>
        `
    }).mount('#app')
</script>
</html>